package knife

import (
	v2 "github.com/ericgaogao/knife4go/gin-swagger-knife/v2"
	"github.com/gin-gonic/gin"
	{{range $k,$v := .KnifeImport}}
	{{$k}} "{{$v}}"
	{{end}}
)


type InitArgs struct {
	SwaggerJson string // swagger.json文件里的内容
	ServiceJson string // service.json文件里的内容
}

//@param content string swag int 命令生成的swagger.json文件里的内容
func InitSwaggerKnife(router *gin.Engine, args *InitArgs) {
	v2.AddApiDocRouter(router, args.SwaggerJson)
	v2.AddSwaggerServicesRouter(router, args.ServiceJson)
	v2.AddSwaggerResourcesRouter(router)
    {{range $i,$v := .Lines}}
        {{$v.PackageAlian}}.AddRouterOf{{$v.FileName3}}(router)
    {{end}}
}